body{
    color:
    background-color:
}

h1{
    color: blue;
    font-size: 15px;
}

.abc{
    color: blue;
    font-size: 10px;
}

.xyz{
    color: brown;
    background-color: black;
}

p{
    color: 
}

#aisatsu{
    font-size: 20px;
    color: green;
}

#orei{
    font-size: 30px;
    color: yellow;
}